<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>

<body>

    <h1>Secure File Vault</h1>

    <h2>Welcome, {{ username }}</h2>

    <p>You have successfully logged in.</p>

    <a href="/logout">
        <button>Logout</button>
    </a>

    <br><br>

    <a href="/protected-file">
        <button>🔐 Access Protected File</button>
    </a>

    <br><br>

    <a href="/upload">
        <button>📤 Upload File</button>
    </a>

    <br><br>

    <a href="/my-files">
        <button>📁 My Files</button>
    </a>

    <br><br>

    <a href="/logs">
        <button>View Login Logs</button>
    </a>

    <br><br>

    <a href="/alerts">
        <button>View Security Alerts</button>
    </a>

    <br><br>

    <a href="/file-logs">
        <button>View File Access Logs</button>
    </a>

    <br><br>

    <a href="/users">
        <button>User Management</button>
    </a>

</body>
</html>
